*.docx
*.class
*.jar
Oving2/Extra code
Oving2/Extra code/*
*.pcapng
.DS_Store
*.pdf
*txt
*.exe
*.out
.vscode
*.json
Oving3/CalcPrimes
Oving2/Extra code/JavaSSLServer.class
.gitignore
Oving2/Extra code/JavaSSLClient.class
Oving4/Workers